.toast {
  position: fixed;
  top: 65px;
  right: 20px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  animation-name: example;
  animation-duration: 1s;
  z-index: 999;
  transition: opacity 0.3s, visibility 0.3s;
}

.toastMessage {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.toastSuccess {
  color: #4b713d;
  background-color: #e2eed8;
  border-color: #d5e6c7;
}

.toastSuccessBold {
  color: #4b713d;
  font-weight: bold;
}

.toastError {
  color: #9f4f48;
  background-color: #efdfdf;
  border-color: #e7cecd;
}

.toastErrorBold {
  color: #9f4f48;
  font-weight: bold;
}

@keyframes example {
  0% {
    right: -200px;
  }
  100% {
    right: 20px;
  }
}
